body {
    font-family: "Kumbh Sans", sans-serif;
    background: rgb(175,104,234);
    background: linear-gradient(180deg, rgba(175,104,234,1) 0%, rgba(101,101,231,1) 100%) no-repeat fixed;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    font-size: 12px;
    color: hsl(238, 29%, 16%);
}

.faq-wrapper {
    display: flex;
    width: 325px;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 30px 20px -10px rgba(5, 5, 5, .2);
    margin: 150px 0 20px;
    transition: .2s;
}

.desktop-illustration-wrapper {
    display: none;
}

.mobile-illustration {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;
    transition: .2s;
}

#mobile-bg {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: -90px;
}

#mobile-woman {
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-top: -110px;
    margin-left: -26px;
}

.faqs {
    display: flex;
    flex-flow: column;
    flex-basis: 90%;
    justify-content: center;
    padding: 15px 25px 45px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.question {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 0;
    border-bottom: solid 1px hsl(240, 5%, 91%);
}

.question:hover {
    cursor: pointer;
}


span {
    color: hsl(240, 6%, 50%);
    padding: 10px 0 0;
    width: 92%;
    font-weight: normal;
    line-height: 1.5em;
    animation-name: slide-down;
    animation-duration: .3s;
}

.unopen {
    font-weight: normal;
}

.unopen:hover {
    color: hsl(14, 88%, 65%);
}

.unopen svg {
    transition: .2s;
}

.unopen span {
    display: none;
}

.open {
    font-weight: bold;
    color: hsl(238, 29%, 16%);
}

.open svg {
    transform: rotate(180deg);
    transition: .2s;
}


.attribution {
    width: 100%;
    margin-top: 20px;
}

@keyframes slide-down {
    from {
      padding-top: 0;
    }

  to{
      padding-top: 10px;
    }
  }

  @keyframes slide-up {
    from {
      padding-top: 10px;
    }

  to{
      padding-top: 0;
    }
  }

@media only screen and (min-width: 1400px) {

    .faq-wrapper {
        width: 920px;
        padding: 40px 0;
        margin-top: 130px;
        transition: .2s;
        flex-flow: row wrap;
        overflow: clip;
        justify-content: space-between;
    }

    .mobile-illustration {
        display: none;
    }

    .desktop-illustration-wrapper {
        display: block;
        width: 40%;
    }

    .desktop-illustration {
        position: relative;
        left: -50%;
    }
    
    #desktop-bg {
        position: absolute;
        top: -340px;
        left: -100%;
        z-index: 0;
    }

    #desktop-woman {
        position: relative;
        top: 15px;
        left: 34%;
    }

    #block-illustration {
        position: fixed;
        top: 320px;
        margin-left: 92px;
    }

    .faqs {
        flex-basis: 40%;
        padding: 15px 90px 45px;
    }

    h1 {
        text-align: left;
    }
}