body {
    font-family: "Kumbh Sans", sans-serif;
    background: rgb(175,104,234);
    background: linear-gradient(180deg, rgba(175,104,234,1) 0%, rgba(101,101,231,1) 100%) no-repeat fixed;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    font-size: 12px;
    color: hsl(238, 29%, 16%);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 375px;
}

.faq-wrapper {
    display: flex;
    width: 320px;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 30px 20px -10px rgba(5, 5, 5, .2);
    margin: 150px 0 20px;
}

#desktop-woman,
#desktop-bg,
#box-illustration {
    display: none;
}

.mobile-illustration {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;
}

#mobile-bg {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: -90px;
}

#mobile-woman {
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-top: -110px;
    margin-left: -26px;
}

.faqs {
    display: flex;
    flex-flow: column;
    flex-basis: 90%;
    justify-content: center;
    padding: 15px 25px 45px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

article {
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
    border-bottom: solid 1px hsl(240, 5%, 91%);
}

.question {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-basis: 100%;
}

.question:hover {
    cursor: pointer;
}

.unopen {
    font-weight: normal;
}

.unopen:hover {
    color: hsl(14, 88%, 65%);
}

.unopen svg {
    transition: .2s;
}

.unopen span {
    display: none;
}

.open {
    font-weight: bold;
    color: hsl(238, 29%, 16%);
}

.open svg {
    transform: rotate(180deg);
    transition: .2s;
}

span {
    color: hsl(240, 6%, 50%);
    padding: 20px 0 0;
    width: 100%;
    font-weight: normal;
}


.attribution {
    width: 100%;
    bottom: 10px;
    position: absolute;
}